/* Default CSS */
body#background {
			background: url('../images/hospitalbike.jpg') no-repeat 50% 50% fixed; 
			background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-webkit-background-size: cover;
			min-height: 100%;
}
@font-face {   
    font-family: 'pharmount';    
    src: url('https://dl.dropboxusercontent.com/u/38807507/pharmount.ttf'); 
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 9s 1.2s linear alternate both;
    font-family: pharmount;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
    fill-opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}
body#scroll {background-color: black;}
.wrap 		{   
			position: relative;  /*This div makes the scroll image and section of content "in-line" elements. */
			display: inline-block;
			}
img            	{padding: 0 10% 0 10%;} /* To centre scroll on page */
.content 	{
			position: absolute;
			top: 130px;				/* To place content section in centre of scroll*/
			left: 300px;
			text-align: center;
			font-size: large; 
			}
div#home 	{
			width: 30%;
			height: 75%;
			background-color:rgba(255,255,255,.85);
			min-width: 240px;
			padding: 20px;
			margin: 20px;
			}
a 			{
			font-size: large;
			color: red;
			max-width: 100px;
			}
   